@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
}

.banner {
  width: 1440px;
  height: 300px;
  background-image: url('../images/bg-desktop-light.jpg');
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.bannerD {
  width: 1440px;
  height: 300px;
  background-image: url('../images/bg-desktop-dark.jpg');
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.nameButton {
  display: flex;
  justify-content: space-between;
  width: 550px;
  padding-top: 10px;
}

.name {
  color: white;
  font-size: 35px;
  letter-spacing: 20px;
  font-weight: 700;
}

.darkButton {
  background-image: url('../images/icon-moon.svg');
  border: none;
  height: 26px;
  width: 26px;
  background-position: center;
  background-repeat: no-repeat;
}

.lightButton {
  background-image: url('../images/icon-sun.svg');
  border: none;
  height: 26px;
  width: 26px;
  background-position: center;
  background-repeat: no-repeat;
}

.todoForm {
  padding-top: 50px;
}

.todoInput {
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 6px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  width: 550px;
  height: 60px;
  caret-color: hsl(220, 98%, 61%);
}

.todoInputD {
  background-color: hsl(235, 24%, 19%);
  color: white;
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 6px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  width: 550px;
  height: 60px;
  caret-color: hsl(220, 98%, 61%);
}

.belowBanner {
  width: 100vw;
  height: 68vh;
  background-color: hsl(0, 0%, 98%);
}

.belowBannerD {
  width: 100vw;
  height: 68vh;
  background-color: hsl(235, 21%, 11%);
}

.emptyCheckIcon {
  border: 1px solid #E2E8F0;
  background: #fff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  top: 42px;
  left: 25px;
}

.listContainer {
  width: 550px;
  height: fit-content;
  background-color: #fff;
  border-radius: 6px;
  position: absolute;
  top: 85%;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
}

.listContainerD {
  width: 550px;
  height: fit-content;
  background-color: hsl(235, 24%, 19%);
  color: white;
  border-radius: 6px;
  position: absolute;
  top: 85%;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
}

.bottomInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  font-size: 14px;
}

.clearButton {
  border: none;
  outline: none;
  background: none;
  padding: 0;
  font-family: 'Josefin Sans',
  sans-serif;
  opacity: 0.5;
}

.clearButton:hover {
  opacity: 1;
  cursor: pointer;
}

.clearButtonD {
  padding: 0;
  border: none;
  outline: none;
  background: none;
  font-family: 'Josefin Sans',
    sans-serif;
  opacity: 0.5;
  color: white;
}

.clearButtonD:hover {
  opacity: 1;
  cursor: pointer;
  color: white;
}

.inputCheckbox {
  width: 26px;
  height: 26px;
  background: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border-radius: 100%;
  margin-right: 20px;
  position: relative;
}

.inputCheck {
  width: 26px;
  height: 26px;
  background-image: url('../images/icon-check.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.inputNoCheck {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 24px;
  height: 24px;
  background-color: white;
  background-position: center;
  border-radius: 100%;
}

.inputNoCheckD {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 24px;
  height: 24px;
  background-color: hsl(235, 24%, 19%);
  background-position: center;
  border-radius: 100%;
}

.strike {
  text-decoration: line-through;
  opacity: 0.5;
}

.listOptions {
  display: flex;
  align-items: center;
}

.listOption {
  opacity: 0.5;
}

.listOption:hover {
  color: black;
  opacity: 1;
  cursor: pointer;
}

.listOptionD {
  opacity: 0.5;
}

.listOptionD:hover {
  color: white;
  opacity: 1;
  cursor: pointer;
}

.activeOption {
  color: hsl(220, 98%, 61%);
}

.itemsLeft {
  opacity: 0.5
}

.todoItem {
  border-bottom: 1px solid #E2E8F0;
  display: flex;
  justify-content: space-between;
}

.todoItem:hover .todoCross {
  display: block;
}

.todoItemD {
  border-bottom: 1px solid hsl(233, 14%, 35%);
  display: flex;
  justify-content: space-between;
}

.todoItemD:hover .todoCross{
  display: block;
}

.todoCross {
  display: none;
  height: 19px;
  width: 19px;
  background-repeat: no-repeat;
  background-image: url('../images/icon-cross.svg');
}

.mobileListOptionList {
  display: none;
}

.mobileListOptions {
  display: none;
}

@media only screen and (max-width: 380px) {
  .banner {
    width: 375px;
    height: 200px;
    background-image: url('../images/bg-mobile-light.jpg');
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .belowBanner {
    width: 100vw;
    height: 75vh;
    background-color: hsl(0, 0%, 98%);
  }

  .belowBannerD {
    width: 100vw;
    height: 75vh;
    background-color: hsl(235, 21%, 11%);
  }

  .nameButton {
    display: flex;
    justify-content: space-between;
    width: 320px;
    padding-top: 5px;
  }

  .name {
    color: white;
    font-size: 26px;
    letter-spacing: 8px;
    font-weight: 700;
  }

  .darkButton {
    background-image: url('../images/icon-moon.svg');
    border: none;
    height: 26px;
    width: 26px;
    background-size: 21px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .lightButton {
    background-image: url('../images/icon-sun.svg');
    border: none;
    height: 13px;
    width: 13px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .todoForm {
    padding-top: 35px;
  }

  .todoInput {
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 6px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    width: 320px;
    height: 50px;
    caret-color: hsl(220, 98%, 61%);
  }

  .listContainer {
    width: 320px;
    height: fit-content;
    background-color: #fff;
    border-radius: 6px;
    position: absolute;
    top: 90%;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
  }

  .mobileListOptionList {
    position: absolute;
    display: block;
    margin-top: 20px;
    height: 50px;
    width: 320px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .listOptions {
    display: none;
  }
}